.categories {
  padding: 60px 0;
}
.categories .section-title {
  font-size: 40px;
  letter-spacing: 1px;
}
.categories .card-img {
  position: relative;
}
.categories .card:hover .card-img img {
  z-index: 10;
  transform: scale(1);
}

.categories .card .card-img img {
  cursor: pointer;
  transform: scale(0.92);
  transition: 0.5s ease all;
}
.categories .card .card-body {
  background-color: #d6dee46c;
}
.categories .link {
  font-weight: 700;
  display: flex;
  align-items: center;
  font-family: var(--fFont);
  font-size: 18px;
}
.categories .link li {
  display: inline-block;
  width: 18px;
}
