/* responsive css */
/* (1024) large width*/
@media (max-width: 1024px) {
  .lowerNav .navbar-nav .nav-item {
    margin: 0 7px;
  }
  /*start collection list */
  .collectionList .lg1024 {
    display: block;
  }
  .collectionList .md768 {
    display: none;
  }
  .collectionList .sm360 {
    display: none;
  }
  /*end collection list */
  .lg1024 {
    display: block;
  }
  .md768 {
    display: none;
  }
  .sm360 {
    display: none;
  }
}
/* (768) large width */
@media (max-width: 768px) {
  .upperNavbar {
    padding: 16px 0;
  }
  .upperNavbar .menu {
    display: block;
  }
  .upperNavbar .menu img {
    width: 28px;
  }
  .upperNavbar .control .search-box {
    display: none;
  }

  .lowerNav {
    display: none;
  }
  .upperNavbar .dropDown-menu {
    position: absolute;
    left: -100%;
    top: 0;
    bottom: 0;
    color: #fff;
    height: 100%;
    width: 500px;
    transition: 0.7s ease-in-out;
    z-index: 10;
    background-color: #fff;
  }
  .upperNavbar .dropDown-menu .close-icon img {
    width: 18px;
  }
  .upperNavbar .dropDown-menu.active {
    left: 0;
  }

  .upperNavbar .dropDown-menu .menu-buttons .btn {
    margin: 0 5px;
    border-radius: 4px;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #9a9a9a;
  }
  .upperNavbar .dropDown-menu .menu-buttons .btn.active {
    background-color: #1449d0;
    color: #fff;
  }
  .upperNavbar .dropDown-menu .menu-links {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
  }
  .upperNavbar .dropDown-menu .menu-links li {
    padding: 15px 0;
    border-bottom: 1px solid #7a7a7a23;
  }
  .upperNavbar .dropDown-menu .menu-links li:nth-last-child(1) {
    border: none;
  }
  .upperNavbar .dropDown-menu .menu-links li .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }

  .upperNavbar .dropDown-menu .menu-links li .link img {
    width: 12px;
  }

  .sup-menu {
    color: #000;
    padding: 10px 0;
    transition: 0.4s all ease;
    background-color: #9a9a9a;
    display: none;
    opacity: 0;
  }
  .sup-menu.active {
    height: 100px;
    opacity: 1;
    visibility: visible;
  }

  .upperNavbar .menu-navbar {
    padding: 20px 20px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .banners {
    flex-direction: column;
    height: 70vh;
  }
  .banners .left-banner {
    width: 100%;
    position: relative;
    margin-right: 0px;
    height: 100%;
    margin-bottom: 10px;
  }
  .banners .right-banner {
    height: 100%;
    width: 100%;
  }
  .banners .left-banner .box {
    position: relative;
    width: 100%;
  }
  .banners .left-banner .box h1 {
    font-size: 25px;
  }
  .banners .left-banner .box p {
    margin-bottom: 15px;
    font-size: 16px;
    color: #b1b1b1;
    width: 45%;
  }

  .banners .left-banner .box .btn {
    padding: 6px 18px;
    font-size: 14px;
  }

  .banners .right-banner .upper-banner {
    height: 100%;
    position: relative;
  }

  .banners .right-banner .bottom-banner {
    height: 100%;
    position: relative;
  }

  /* start two banners  */
  .two-banners .banner {
    height: 250px;
  }
  /*start collection list */
  .collectionList .lg1024 {
    display: none;
  }
  .collectionList .md768 {
    display: block;
  }
  .collectionList .sm360 {
    display: none;
  }
  .collectionList .section-title {
    margin-bottom: 5px;
  }
  /*end collection list */
  .lg1024 {
    display: none;
  }
  .md768 {
    display: block;
  }
  .sm360 {
    display: none;
  }
}
/* (360) large width */
@media (max-width: 360px) {
  /* stander code */
  .upperNavbar .control .logo img {
    width: 110px;
  }
  .upperNavbar .nav-icons li:nth-child(1) {
    display: none;
  }
  .upperNavbar .nav-icons li:nth-child(2) {
    display: none;
  }
  .upperNavbar .control .nav-icons ul li img {
    width: 25px;
  }
  .upperNavbar .dropDown-menu {
    position: absolute;
    left: -100%;
    top: 0;
    bottom: 0;
    color: #fff;
    height: 100%;
    width: 100%;
    transition: 0.5s ease-in-out;
  }
  /* banners */
  .banners .left-banner .box {
    padding: 30px 0;
  }

  .banners .left-banner .box h1 {
    font-size: 20px;
  }
  .banners .left-banner .box p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #b1b1b1;
    width: 60%;
  }

  .banners .left-banner .box .btn {
    padding: 4px 16px;
    font-size: 14px;
  }

  .banners .right-banner .box h1 {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .banners .right-banner .box p {
    margin-bottom: 4px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .banners .right-banner .box .link {
    text-transform: capitalize;
    text-decoration: underline;
    color: #b1b1b1;
    font-size: 14px;
  }
  .banners .right-banner .upper-banner {
    height: 180px;
    position: relative;
  }
  .banners .right-banner .bottom-banner {
    height: 180px;
    display: none;
    position: relative;
  }
  /* start two banners  */
  .two-banners .banner {
    height: 200px;
    margin: 10px 0;
  }
  /* end two banners */
  /*start collection list */
  .collectionList .lg1024 {
    display: none;
  }
  .collectionList .md768 {
    display: none;
  }
  .collectionList .sm360 {
    display: block;
  }

  .lg1024 {
    display: none;
  }
  .md768 {
    display: none;
  }
  .sm360 {
    display: block;
  }
}
